SECRET_KEY=""
STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WH_SECRET=""
MAILCHIMP_API_KEY = ""
MAILCHIMP_REGION = ""
MAILCHIMP_MARKETING_AUDIENCE_ID = ""
CLOUD_NAME=""
API_KEY=""
API_SECRET=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
O365_MAIL_TENANT_ID=""
SENDER_EMAIL=""
MAILGUN_DOMAIN=""
MAILGUN_API_URL=""
