asgiref==3.6.0
astroid==2.15.5
backports.zoneinfo;python_version<"3.9"
black==23.3.0
chardet==5.1.0
click==8.1.3
cloudinary==1.33.0
crispy-bootstrap4==2022.1
crispy-bootstrap5==0.7
dj-database-url==1.2.0
Django==4.1.6
django-allauth==0.54.0
django-anymail==10.0
django-bootstrap-datepicker-plus==5.0.3
django-bootstrap5==22.2
django-cloudinary-storage==0.3.0
django-countries==7.5.1
django-crispy-forms==2.0
django-jquery==3.1.0
django-o365mail==1.1.0
django-rest-auth==0.9.5
django-scheduler==0.10.1
django-tempus-dominus==5.1.2.17
django-toast-messages==0.1
djangorestframework==3.14.0
gunicorn==20.1.0
icalendar==5.0.4
mailchimp-marketing==3.0.75
O365==2.0.27
oauthlib==3.2.2
pathspec==0.11.1
Pillow==9.5.0
platformdirs==3.0.0
psycopg2==2.9.5
pydantic==1.10.5
PyJWT==2.7.0
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
requests-oauthlib==1.3.1
sqlparse==0.4.3
stringcase==1.2.0
stripe==5.4.0
tzdata==2023.3
tzlocal==4.3
whitenoise==6.4.0
