{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Brick-Builders' Chronicles</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        {% if request.user.is_authenticated %}
        <div class="text-right">
            <a class="btn btn-outline-black border rounded-0" href="{% url 'add_guestbookitem' %}">Add to Guessbook</a>
        </div>
        {% endif %}
    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for guestbookitem in guestbookitems %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        {% if guestbookitem.image %}
                        <img class="card-img-top" src="{{ guestbookitem.image.url }}" alt=" image">
                        {% else %}
                        <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt=" image">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text font-weight-bold">{{ guestbookitem.name }}</p>
                            <p class="card-text">{{ guestbookitem.description }}</p>

                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'delete_guestbookitem' guestbookitem.id %}">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

{% endblock %}