{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% csrf_token %}

<div class="container-fluid">
    <div class="row h-100 justify-content-center align-items-center m-5">
        <div class="col">
            <div class="card" style="width: 24em; background-color: rgba(154, 170, 255, 1);">
                <div class="card-body">
                    <h5 class="card-title">Welcome to BrickYard!</h5>
                    <p class="card-text">
                        At BrickYard, we are passionate about LEGO and dedicated to bringing
                        you a wide range of LEGO pieces to enhance your building adventures.
                        Whether you're a seasoned LEGO enthusiast or
                        just starting your brick collection, we have something for everyone.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24em; background-color: rgba(154, 170, 255, 1);">
                <div class="card-body">
                    <h5 class="card-title">Contact Us</h5>
                    <p class="card-text">
                        <a class="text-reset fw-bold" href="info@brickyard.se">info@brickyard.se</a><br>
                        Telephone: +46 123 6433854<br>
                        <a class="text-reset fw-bold" href="https://brickyard.se">BrickYard</a>
                        <a class="text-reset fw-bold" href="https://www.instagram.com/brickyard_lego_store/">Follow us
                            on Instagram</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 24em; background-color: rgba(154, 170, 255, 1);">
                <div class="card-body">
                    <h5 class="card-title">Subscribe</h5>
                    <p class="card-text">
                        <a class="text-reset fw-bold" href="{% url 'subscribe' %}">Mailing list on new Products and
                            inspirations</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}