{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

<div class="lego_pile">
    <img src="{% static 'assets/images/lego_pile.jpg' %}" alt="lego_pile" />
</div>

<div class="container opacity-75 information">
    <div class="card mt-5 ml-3 ">
        <div class="card-body">
            <h2 class="fs-2">BrickYard</h2>

            <p class="fs-4">
                If you like nostalgic Lego sets and projects. But you are missing final pieces, we know that can hunt
                you and keps awake dark nights.
            </p>
            <p class="fs-4">
                We on BrickYard offer you just those hard to find but also collectable pieces.
            </p>
            <p class="fs-4">
                Everyone loves all characters of minifigs and Lego creatures, we might have ones you havn't seen before
                or you are missing.
            </p>
            <p class="fs-4">
                Welcome in to our BrickYard we just love Lego.
            </p>
        </div>
    </div>
</div>
{% endblock content %}