{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

<div class="container-fluid  mx-auto">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 24em; background-color: rgba(154, 170, 255, 1);">
                <div class="card-body">
                    <h5 class="card-title">BrickYard</h5>
                    <p class="card-text">
                        If you like nostalgic Lego sets and projects. But you are missing final pieces, we know that can
                        hunt you and keps awake dark nights.
                    </p>
                    <p class="card-text">
                        We on BrickYard offer you just those hard to find but also collectable pieces.
                    </p>
                    <p class="card-text">
                        Everyone loves all characters of minifigs and Lego creatures, we might have ones you havn't seen
                        before or you are missing.
                    </p>
                    <p class="card-text">
                        Welcome in to our BrickYard we just love Lego.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <img class="img-fluid" src="{% static 'assets/images/lego_pile.jpg' %}" alt="lego_pile"
                style="max-width: 50%;" />
        </div>
    </div>
</div>

{% endblock content %}