{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% csrf_token %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Brick Connect</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">SweBrick</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Featured post</a>
                    </h3>
                    <p class="card-text mb-auto"> Swebrick is a vibrant online community and platform designed for LEGO
                        enthusiasts primarily based in
                        Sweden. It provides a dynamic space for LEGO lovers to engage, share their creations, and
                        discuss
                        everything related to LEGO. Whether you're an expert builder, a LEGO collector, or someone who
                        enjoys the nostalgic charm of these tiny bricks, Swebrick caters to all.

                        This community-driven platform is known for hosting building challenges, sharing useful
                        resources
                        and building instructions, and facilitating discussions about the latest LEGO sets and trends.
                        The
                        members of Swebrick also gather for regular offline meet-ups and LEGO conventions, strengthening
                        the
                        sense of camaraderie within the community. Their active participation in various charity events
                        and
                        exhibitions further underlines the spirit of togetherness and the shared passion for LEGO.

                        Swebrick, in essence, isn't just a platform—it's a virtual meeting place for people whose
                        creativity
                        finds expression in colorful bricks and imaginative constructions.</p>
                    <a rel="ugc" href="https://swebrick.se/">https://swebrick.se/</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Lego.com</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Lego.com</a>
                    </h3>
                    <p class="card-text mb-auto">Lego.com is the official online portal for LEGO, the globally renowned
                        toy company. The website
                        provides
                        a comprehensive catalog of LEGO sets, pieces, and accessories spanning various themes and
                        categories. It
                        offers a platform for users to explore and purchase new releases, exclusive sets, and even
                        individual
                        bricks. Additionally, it features interactive content, building instructions, games, and a
                        dedicated
                        section for LEGO's loyalty program, making it a one-stop destination for all things LEGO.</p>
                    <a rel="nofollow" href="https://www.lego.com">https://www.lego.com</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Brickset</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Brickset</a>
                    </h3>
                    <p class="card-text mb-auto">Brickset.com is an extensive online database and community platform for
                        LEGO enthusiasts
                        worldwide. The website offers detailed information about virtually every LEGO set ever produced,
                        alongside user reviews, collection management tools, and the latest LEGO news. It's an essential
                        resource for anyone looking to research LEGO sets, keep track of their collection, or engage
                        with a passionate community of fellow LEGO lovers.</p>
                    <a rel="ugc" href="https://brickset.com/">https://brickset.com/</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">The Brick
                        Fan</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">The Brick
                            Fan</a>
                    </h3>
                    <p class="card-text mb-auto">The Brick Fan is an independent LEGO news blog that provides the latest
                        updates, set reviews, event
                        coverage, and other LEGO-related content. The site serves as a valuable resource for LEGO
                        enthusiasts, offering insights into new releases, exclusive deals, and engaging articles that
                        cover
                        a broad range of LEGO themes. The Brick Fan is a go-to destination for those looking to stay
                        up-to-date with all things LEGO.</p>
                    <a rel="ugc" href="https://www.thebrickfan.com/">https://www.thebrickfan.com/</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success">Brick
                        Economy</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">Brick
                            Economy</a>
                    </h3>
                    <p class="card-text mb-auto">Brick Economy is a unique website that offers comprehensive insights
                        into the financial aspect of
                        LEGO collecting. The platform provides detailed market trends, set valuations, and investment
                        analysis for a wide array of LEGO sets. It serves as a valuable tool for LEGO investors and
                        collectors looking to understand the economic potential of their LEGO collection.</p>
                    <a rel="nofollow" href="https://www.brickeconomy.com/">https://www.brickeconomy.com/</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}