{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% csrf_token %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Brick Connect</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="row h-100 justify-content-center align-items-center m-5">
        <div class="card" style="width: 24em; background-color: rgba(154, 170, 255, 1);">
            <div class="card-body">
                <h3 class="card-title">SweBrick</h3>

                <p class="card-text">
                    Swebrick is a vibrant online community and platform designed for LEGO enthusiasts primarily based in
                    Sweden. It provides a dynamic space for LEGO lovers to engage, share their creations, and discuss
                    everything related to LEGO. Whether you're an expert builder, a LEGO collector, or someone who
                    enjoys the nostalgic charm of these tiny bricks, Swebrick caters to all.

                    This community-driven platform is known for hosting building challenges, sharing useful resources
                    and building instructions, and facilitating discussions about the latest LEGO sets and trends. The
                    members of Swebrick also gather for regular offline meet-ups and LEGO conventions, strengthening the
                    sense of camaraderie within the community. Their active participation in various charity events and
                    exhibitions further underlines the spirit of togetherness and the shared passion for LEGO.

                    Swebrick, in essence, isn't just a platform—it's a virtual meeting place for people whose creativity
                    finds expression in colorful bricks and imaginative constructions.

                    <a class="text-reset fw-bold" rel="ugc" href="https://swebrick.se/">SweBrick</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 24em; background-color: rgba(154, 170, 255, 1);">
            <div class="card-body">
                <h5 class="card-title">Lego.com</h5>
                <p class="card-text">
                    Lego.com is the official online portal for LEGO, the globally renowned toy company. The website
                    provides
                    a comprehensive catalog of LEGO sets, pieces, and accessories spanning various themes and
                    categories. It
                    offers a platform for users to explore and purchase new releases, exclusive sets, and even
                    individual
                    bricks. Additionally, it features interactive content, building instructions, games, and a dedicated
                    section for LEGO's loyalty program, making it a one-stop destination for all things LEGO.
                    <a class="text-reset fw-bold" rel="nofollow" href="https://www.lego.com">Lego.com</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 24em; background-color: rgba(154, 170, 255, 1);">
            <div class="card-body">
                <h5 class="card-title">Brickset</h5>
                <p class="card-text">
                    Brickset.com is an extensive online database and community platform for LEGO enthusiasts
                    worldwide. The website offers detailed information about virtually every LEGO set ever produced,
                    alongside user reviews, collection management tools, and the latest LEGO news. It's an essential
                    resource for anyone looking to research LEGO sets, keep track of their collection, or engage
                    with a passionate community of fellow LEGO lovers.
                    <a class="text-reset fw-bold" rel="ugc" href="https://brickset.com/">Brickset</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 24em; background-color: rgba(154, 170, 255, 1);">
            <div class="card-body">
                <h5 class="card-title">The Brick
                    Fan</h5>
                <p class="card-text">
                    The Brick Fan is an independent LEGO news blog that provides the latest updates, set reviews, event
                    coverage, and other LEGO-related content. The site serves as a valuable resource for LEGO
                    enthusiasts, offering insights into new releases, exclusive deals, and engaging articles that cover
                    a broad range of LEGO themes. The Brick Fan is a go-to destination for those looking to stay
                    up-to-date with all things LEGO.
                    <a class="text-reset fw-bold" rel="ugc" href="https://www.thebrickfan.com/">The Brick
                        Fan</a>
                </p>
            </div>
        </div>
        <div class="card" style="width: 24em; background-color: rgba(154, 170, 255, 1);">
            <div class="card-body">
                <h5 class="card-title">Brick
                    Economy</h5>
                <p class="card-text">
                    Brick Economy is a unique website that offers comprehensive insights into the financial aspect of
                    LEGO collecting. The platform provides detailed market trends, set valuations, and investment
                    analysis for a wide array of LEGO sets. It serves as a valuable tool for LEGO investors and
                    collectors looking to understand the economic potential of their LEGO collection.
                    <a class="text-reset fw-bold" rel="nofollow" href="https://www.brickeconomy.com/">Brick
                        Economy</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}