{% extends 'base.html' %} {% load static %} {% get_static_prefix as
  STATIC_PREFIX %} {% block content %} {% csrf_token %}

<div class="container-fluid">
  <div class="row flex-nowrap pt-5">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-5 d-none d-sm-inline">Category</span>
        </a>
        {% for category in categories %}
        <li>
          <a href="#" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i>
            <span class="ms-1 d-none d-sm-inline">{{ category.friendly_name }}</span></a>
        </li>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="card" style="width: 24rem; margin: 10px">
        <img src="{{ STATIC_PREFIX }}/static/assets/images/{{ product.image }}" class="card-img-top" />
        <div class="card-body">
          <div style="display: flex; flex-direction: row">
            <h5 class="card-title">{{ product.name }}</h5>
            <div style="
                    background: white;
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    border-radius: 50%;
                  "></div>
          </div>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">{{ product.price }} SEK</p>
          <a href="/command/{{ product.id }}/buy" class="btn btn-primary">Buy</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>

{% endblock content %}