<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item active">
            <a class="logo-font font-weight-bold nav-link text-black border mr-3" aria-current="page"
                href="{% url 'home' %}">Brickyard Base</a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black border mr-3" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Brick Treasures
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black border mr-3" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Building Blocks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=hospital_parts" class="dropdown-item">Hospital parts</a>
                <a href="{% url 'products' %}?category=animanl_parts" class="dropdown-item">Animal parts</a>
                <a href="{% url 'products' %}?category=minifigures" class="dropdown-item">Minifigures</a>
                <a href="{% url 'products' %}?category=hospital_parts,animanl_parts,minifigures,headgear,car_parts,shields,hinger,blocks,space,watergear,hair"
                    class="dropdown-item">All Brick Treasures</a>
            </div>
        </li>


        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black border mr-3" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Master Builder Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">Freshly Unboxed Bricks</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Brick Bargains</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Last-Chance Brick Bonanza</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All
                    Brickbuster Deals</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black border mr-3" href="{% url 'list_gallery' %}">BrickMaster
                Creations</a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black border mr-3" href="{% url 'list_guestbook' %}">Brick-Builders'
                Chronicles</a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black border" href="{% url 'aboutus' %}">About Us</a>
        </li>
    </ul>
</div>