{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container header-container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-6">
            <div class="allauth-form-inner-content">
                <h1>Change Password</h1>

                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" name="action" aria-label="action_changepassword">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}