{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container header-container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-6">
            <div class="allauth-form-inner-content">
                <h1>Password Reset</h1>

                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>We have sent you an e-mail. Please contact us if you do not receive it within a few
                    minutes.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}