<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}">


{% load django_bootstrap5 %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BrickYard</title>
    <meta name="description" content="BrickYard">
    <meta name="author" content="Madeleine Frithiof-Lindergren">
    <meta property="og:title" content="BrickYard">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.brickyard.com">
    <meta property="og:description" content="BrickYard">
    <meta property="og:image" content="{% static 'assets/images/image.png' %}">
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">

    <!-- jquery -->
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

    <!-- Bootstrap JavaScript if it is in head -->
    {% if 'javascript_in_head'|bootstrap_setting %}
    {% bootstrap_javascript %}
    {% endif %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <section id="header">
        <nav class="navbar navbar-expand-lg navbar-dark" role="navigation"
            style="background-color: rgba(255, 229, 0, 0.72); ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar"
                    aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"><img
                        src="{% static 'assets/images/brickyard_logo.png' %}" class="img-fuild"
                        style="max-width: 40%;"></a>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto navbar-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'webshop' %}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Shopping Cart</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <section id="main">
        {% block content %}
        {% endblock content %}
    </section>


    <footer>
        <div class="text-center" style="background-color: rgba(248, 60, 60, 1);">
            Tegelängsgatan 10, Norrköping, Sweden <br>
            <a class="text-reset fw-bold" href="info@brickyard.com">info@brickyard.com</a><br>
            Telephone: +46 123 6433854<br>
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="https://brickyard.com">BrickYard</a></p>
        </div>
    </footer>

</body>

</html>